.download__block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 112px;

  h1 {
    padding-bottom: 15px;
  }

  p {
    padding-bottom: 49px;
  }

  &_image {
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
