p {
  color: #616368;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.features__block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 155px;
  gap: 52px;

  @media(max-width: 527px) {
    flex-direction: column;
  }

  &_photo {
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.features__block_description {
  @media(max-width: 527px) {
    padding-left: 30px;
  }
}

.features__block_description-main {
  padding-bottom: 50px;
}

.description_block {
  display: flex;
  gap: 32px;
  padding-bottom: 50px;
}

.description-red {
  color: #f55767;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
}

.description-blue {
  color: #2563ff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
}

.description-green {
  color: #40975f;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
}
