.footer__block {
  background-color: #09142e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  a {
    color: #d1d1d1;
  }

  &_image {
    padding-top: 108px;
    padding-bottom: 33px;
  }

  &_icons {
    padding-bottom: 70px;
  }

  &_copiright {
    padding-bottom: 140px;
  }
}

.footer__nav {
  padding-bottom: 32px;
  display: flex;
  &_links-items {
    list-style-type: none;
    flex-direction: row;
    gap: 25px;
  }

  &_links-item {
    color: #d1d1d1;
    font-family: Popins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
  }
}

@media(min-width: 411px) {
  .footer__nav_links-items{
    display: flex;
  }
}
